
<div class="card">
	<div class="card-image" style="height: 200px; overflow: hidden">
		<a href="{plink ':Animal:Default:default' $animal->id}">
			{if $animal->profileImage !== null}
				<img style="width: auto; height: 100%; max-height: 200px;" src="{$animal->profileImage|f200x200}">
			{else}
				<div class="valign-wrapper" style="height: 100%; padding: 10px">
					<h5 class="valign">Obrázek není k dispozici :[</h5>
				</div>
			{/if}

			<span class="card-title orange-text">{$animal->name}</span>
			<span style="position: absolute; top: 0; right:0; padding: 10px"
				  class="card-bonus orange-text">{$animal->animalType->name}</span>
		</a>
	</div>
	<div class="card-content">
		<table>
			<tbody>
			<tr>
				<td>Věk</td>
				<td>{$animal->getEstimatedAge()}</td>
			</tr>

			<tr>
				<td>Handicapy</td>
				<td>{$animal->handicaps->count()?:'žádné'}</td>
			</tr>
			<tr>
				<td>Pohlaví</td>
				<td>{$animal->gender}</td>
			</tr>
			<tr>
				<td>Kastrace</td>
				<td>{$animal->castrated ? 'ano' : 'ne'}</td>
			</tr>
			<tr>
				<td>Depozium</td>
				<td>
					{if $animal->depo}
						<a href="{plink ':Depo:Default:default' $animal->depo->id}">{$animal->depo->name}</a>
					{else}
						žádné
					{/if}
				</td>
			</tr>
			<tr>
				<td>Stav</td>
				<td>{$animal->state}</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="card-action">
		<a href="{plink ':Animal:Default:default' $animal->id}">{$animal->name}</a>
	</div>
</div>