{block content}
	<h1 n:block="title">Druhy zvířat</h1>
	<table class="responsive-table highlight">
		<thead>
		<tr>
			<th data-field="name">Druh</th>
			<th data-field="price">Popularita</th>
			<th data-field="action">Akce</th>
		</tr>
		</thead>

		<tbody>
			{foreach $animalTypes as $at}
				<tr>
					<td>
						{$at->name}
					</td>
					<td>
						{$at->popularity}
					</td>
					<td>
						<a n:href=":AnimalType:Default:edit $at->id"><i class="material-icons orange-text">settings</i></a>
					</td>
				</tr>
			{/foreach}
		</tbody>
	</table>

{/block}