<div class="row">
	{if $depo->getAddableAnimals()->count() == 0}
		<div class="col s12">
			<div class="card-panel blue">
				  <span class="white-text">
					  Žádná zvířata, která byla vytvořena členy depozita a dosud nejsou umístěna, nejsou k dispozici
				  </span>
			</div>
		</div>
	{elseif $depo->animals->count() == $depo->capacity}
		<div class="col s12">
			<div class="card-panel blue">
				  <span class="white-text">
					  Depozitum je plné
				  </span>
			</div>
		</div>
	{else}
		{if $authorizator->isAllowed($user, $depo, 'addAnimal')}
			{form addAnimal}
				<div class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<select multiple name="{$form[animals]->getName()}[]">
								{foreach $form[animals]->items as $key => $value}
									<option value="{$key}">{$value}</option>
								{/foreach}
							</select>
							<label>{$form[animals]->caption}</label>
						</div>
						<div class="input-field col s6">
							{input submit, class=>'btn'}
						</div>
						<div class="col s12 light red-text">
							{control $form->getCommonErrorsControl()}
						</div>
					</div>
				</div>
			{/form}
		{/if}
	{/if}
</div>