<div class="row">
	<div class="col s12">
		{if $animals->count()}
			<ul class="collection">
				{foreach $animals as $animal}
					<li class="collection-item avatar">
						{if $animal->profileImage !== null}
							<img src="{$animal->profileImage|f200x200}" alt="Obrázek {$animal->name}" class="circle">
						{else}
							<i style="font-size: 40px" class="circle material-icons">account_circle</i>
						{/if}
						<div class="title">{$animal->name}</div>
						<div class="type">{$animal->animalType->name}</div>
						{if $authorizator->isAllowed($user, $depo, 'editAnimal') || $authorizator->isAllowed($user, $depo, 'deleteAnimal')}
							<div class="secondary-content">
								{if $authorizator->isAllowed($user, $depo, 'editAnimal')}
									<a href="{plink ':Animal:Default:edit' $animal->id}"><i
												class="material-icons orange-text">settings</i></a>
								{/if}
								{if $authorizator->isAllowed($user, $depo, 'deleteAnimal')}
									<a n:href="deleteAnimal! $animal->id"><i class="material-icons red-text">delete</i></a>
								{/if}
							</div>
						{/if}
					</li>
				{/foreach}
			</ul>
		{else}
			<div class="card-panel blue">
				<span class="white-text">Depozitum {$depo->name} zatím nemá žádná zvířata</span>
			</div>
		{/if}
	</div>
</div>