{form handicapForm}
	<div class="row">
		<div class="input-field col s12">
			{input name}
			{label name/}
		</div>
		<div n:ifcontent class="col s12 red-text light">
			{inputError name}
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12 m6">
			{input description}
			{label description/}
			<div n:ifcontent class="row">
				<div n:ifcontent class="col s12 red-text light">
					{inputError description}
				</div>
			</div>
		</div>
		<div class="input-field col s12 m6">
			{input severity}
			{label severity/}
		</div>
	</div>

	<div class="row">
		{input submit, class=>'btn right'}
	</div>

{/form}