<div class="col s12 m6">
	<div class="card">
		<a href="{plink :Animal:Default:default $animal->id}">
			<div style="
				width: 100%;
				height: 150px;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;"
			>
				{if $animal->profileImage !== null}
					<img style="width: 100%; height: auto;" src="{$animal->profileImage|f200x200}"/>
				{else}
					<div class="valign-wrapper" style="height: 100%; padding: 10px">
						<h5 class="valign">Obrázek není k dispozici :[</h5>
					</div>
				{/if}
			</div>
			<div style="
				position:absolute;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding: 5px 10px;
				background: rgba(255, 255, 255, 0.8);
			">
				<div style="
					overflow: hidden;
					margin-right: 10px;
				">
					{$animal->name}
				</div>
				<div class="orange-text">
					{$animal->animalType->name}
				</div>
			</div>
		</a>
	</div>
</div>