<div class="row">
	{if $animals->count()}
		{foreach $animals as $animal}
			<div class="col s12 m4">
				{control rosterItem-$animal->id}
			</div>
		{/foreach}
	{else}
		<div class="col s12">
			<div class="card-panel blue">
				<span class="white-text">Výsledkům hledání bohužel nedopovídají žádná zvířata</span>
			</div>
		</div>
	{/if}
</div>