{form contactForm}
	{control $form->getCommonErrorsControl()}
	<div class="row">
		<div class="input-field col s12">
			{input name}
			{label name/}

			<div class="row" n:ifcontent>
				<div n:ifcontent class="col s12 red-text light">
					{inputError name}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12 m6">
			{input telephone}
			{label telephone/}

			<div class="row" n:ifcontent>
				<div n:ifcontent class="col s12 red-text light">
					{inputError telephone}
				</div>
			</div>
		</div>
		<div class="input-field col s12 m6">
			{input email}
			{label email/}

			<div class="row" n:ifcontent>
				<div n:ifcontent class="col s12 red-text light">
					{inputError email}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12 m6">
			{input facebook}
			{label facebook/}

			<div class="row" n:ifcontent>
				<div n:ifcontent class="col s12 red-text light">
					{inputError facebook}
				</div>
			</div>
		</div>
		<div class="input-field col s12 m6">
			{input url}
			{label url/}

			<div class="row" n:ifcontent>
				<div n:ifcontent class="col s12 red-text light">
					{inputError url}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		{input submit, class=>'btn right'}
	</div>
{/form}