{block content}
	<div class="row">
		<div class="col s12 pos-rel">
			<h1 n:block="title">{$animal->name}</h1>
			<div style="position: absolute; top:0; right: 10.5px; padding: 5px; padding-top: 2.1rem;">
				{$animal->animalType->name}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m4">
			<div class="row">
				<div class="col s12">
					{if $animal->profileImage !== null}
						<img src="{$animal->profileImage|f200x200}">
					{else}
						<div class="valign-wrapper" style="width: 200px; height: 200px; padding: 10px">
							<h5 class="valign">Obrázek není k dispozici :[</h5>
						</div>
					{/if}
				</div>
				<div class="col s12">
					{if $authorizator->isAllowed($user, $animal, 'edit')}
						<a n:href=":Animal:Default:edit $animal->id" class="btn">Edit</a>
					{/if}
				</div>
			</div>
		</div>

		<div class="col s12 m8">
			<table class="responsive-table">
				<tbody>
				<tr>
					<td>Věk</td>
					<td>{$animal->getEstimatedAge()}</td>
				</tr>

				<tr>
					<td>Handicapy</td>
					<td>{$animal->handicaps->count()?:'žádné'}</td>
				</tr>
				<tr>
					<td>Pohlaví</td>
					<td>{$animal->gender}</td>
				</tr>
				<tr>
					<td>Kastrace</td>
					<td>{$animal->castrated ? 'ano' : 'ne'}</td>
				</tr>
				<tr>
					<td>Depozium</td>
					<td>
						{if $animal->depo}
							<a n:href=":Depo:Default:default $animal->depo->id">{$animal->depo->name}</a>
						{else}
							žádné
						{/if}
					</td>
				</tr>
				<tr>
					<td>Stav</td>
					<td>{$animal->state}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<h2>Galerie</h2>
		<div class="col s12">
		{control animalGallery}
		</div>
	</div>
	<div class="row">
		<h2>Informace</h2>
		<div class="col s12">
			{control animalStory}
		</div>
	</div>

{/block}