{form addressForm}
	{control $form->getCommonErrorsControl()}
	<div class="row">
		<div class="input-field col s12 m6">
			{input city}
			{label city}{$form[city]->caption}{/label}

			<div class="row" n:ifcontent>
				<div n:ifcontent class="col s12 red-text light">
					{inputError city}
				</div>
			</div>
		</div>

		<div class="input-field col s12 m6">
			{input street}
			{label street/}

			<div class="row" n:ifcontent>
				<div n:ifcontent class="col s12 red-text light">
					{inputError street}
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="input-field col s6">
			{input zip}
			{label zip/}
			<div class="row" n:ifcontent>
				<div n:ifcontent class="col s12 red-text light">
					{inputError zip}
				</div>
			</div>
		</div>
		<div class="input-field col s6">
			<select name="{$form[country]->getName()}">
				{foreach $form[country]->items as $key => $value}
					<option value="{$key}" {if $key == $form['country']->value}selected{/if}>{$value}</option>
				{/foreach}
			</select>
			<label>{$form[country]->caption}</label>

			<div n:ifcontent class="row">
				<div n:ifcontent class="col s12 red-text light">
					{inputError country}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		{input submit, class=>'btn right'}
	</div>
{/form}