{block content}
	<div class="row">
		<div class="col s12">
			<h1 n:block="title">{$depo->name}</h1>
		</div>
		<div class="col s12">
			{if $authorizator->isAllowed($user, $depo, 'edit')}
				<a class="btn orange" href="{plink :Depo:Default:edit $depo->id}">
					Upravit
				</a>
			{/if}
		</div>
	</div>

	<h2>Zvířata</h2>
	{if $authorizator->isAllowed($user, $depo, 'addAnimal')}
		{control addAnimal}
	{/if}

	{control animalList}

	{if $authorizator->isAllowed($user, $depo, 'addMember')}
		<h2>Členové</h2>
		{control depoMemberAE}
	{/if}

	{control depoMemberRoster}

	<div class="row">
		<div class="col s12 m6">
			<div class="row">
				<div class="col s12">
					<h2>Adresa</h2>
				</div>
				<div class="col s12">
					{if $depo->address == null}
						{if $authorizator->isAllowed($user, $depo, 'addAddress')}
							<a class="btn" href="{plink :Depo:Address:add $depo->id}">Přidat adresu</a>
						{/if}
					{else}
						{if $authorizator->isAllowed($user, $depo, 'editAddress')}
							<a class="btn" href="{plink :Depo:Address:edit $depo->id, $depo->address->id}">Upravit</a>
						{/if}
					{/if}
				</div>

			</div>
			<div class="row">
				{if $depo->address}
					<div class="col s12 m6">
						<address>
							<div class="col s12">{$depo->name}</div>
							<div class="col s12">{$depo->address->street}</div>
							<div class="col s12">{$depo->address->city}</div>
							<div class="col s12">{$depo->address->zip}, {$depo->address->country}</div>
						</address>
					</div>
				{/if}
			</div>
		</div>
		<div class="col s12 m6">
			<h2>Kontakty</h2>
			{control contactList}
		</div>
	</div>



{/block}