<li class="collection-item avatar">
	<i style="font-size: 40px" class="circle material-icons">account_circle</i>
	<div class="title">{$userDepo->user->email}</div>
	<div class="relation">role: {$userDepo->relation}</div>
	<div class="secondary-content">
	{if $authorizator->isAllowed($user, $userDepo->depo, 'editMember')}
		<a href="{plink :Depo:Member:edit $userDepo->id}" ><i class="material-icons orange-text">settings</i></a>
	{/if}
	{if $authorizator->isAllowed($user, $userDepo->depo, 'deleteMember') && $userDepo->depo->userDepos->count() > 1}
		<a n:href="delete! $userDepo->id"><i class="material-icons red-text">delete</i></a>
	{/if}
	</div>
</li>