/* horizontal center with relative */
.hcwr {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

/*position relative */
.pos-rel {
    position: relative;
}

.tile {
    margin: 0 auto;
    position: relative;
    padding: 1px;
}
.tile-image {
    position: relative;
    width: 100%;
}

.tile-action {
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(69, 90, 100, 0.5);
}

.h200{
    height: 200px;
}
.h150{
    height: 150px;
}
.w200 {
    width: 200px;
}