{layout "../../CommonModule/templates/@layout.latte"}
{block packageScripts}
<script src="/assets/blog/SimpleMDE/simplemde.min.js"></script>
<script src="/assets/blog/clipboardjs/clipboard.min.js"></script>
<script src="/assets/blog/blogModule.js"></script>
{/block}