{block content}
	<h1 n:block="title">Registrace</h1>
	<div class="container">
		{form registerForm}
			<div n:ifcontent class="row">
				<div n:ifcontent class="col s12 red-text light">
					{control $form->getCommonErrorsControl()}
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					{input email}
					{label email/}
				</div>
				<div n:ifcontent class="col s12 red-text light">
					{inputError email}
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					{input password}
					{label password/}
				</div>
				<div n:ifcontent class="col s12 red-text light">
					{inputError password}
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					{input password_again}
					{label password_again/}
				</div>
				<div n:ifcontent class="col s12 red-text light">
					{inputError password_again}
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					{input submit, class=>'btn right'}
				</div>
			</div>
		{/form}
	</div>
{/block}