{block content}
	<h1 n:block="title">Handicapy</h1>
	<table class="responsive-table highlight">
		<thead>
		<tr>
			<th data-field="name">Druh</th>
			<th data-field="price">Závažnost</th>
			<th data-field="description">Popisek</th>
			<td data-field="action">Akce</td>
		</tr>
		</thead>

		<tbody>
		{foreach $handicaps as $hd}
			<tr>
				<td>
					{$hd->name}
				</td>
				<td>
					{$hd->severity}
				</td>
				<td>
					{$hd->description}
				</td>
				<td>
					<a n:href=":Handicap:Default:edit $hd->id"><i class="material-icons orange-text">settings</i></a>
				</td>
			</tr>
		{/foreach}
		</tbody>
	</table>

{/block}