{if $authorizator->isAllowed($user, $content, 'edit')}
	<div id="info-content-{$content->id}">
		<a class="modal-trigger" href="#edit-content-{$content->id}"><i class="material-icons white-text">edit</i></a>

		<div id="edit-content-{$content->id}" class="modal">
			{form edit-$content->id}
				<div class="modal-content">
				<span style="
							font-size: 2.92rem;
							line-height: 110%;
							margin: 1.46rem 0 1.168rem 0;
						">Upravit obsah</span>
					<div class="input-field col s8">
						{input text, id => 'textarea-content-' . $content->id}
						<label for="textarea-content-{$content->id}">{$form['text']->caption}</label>
					</div>
				</div>
				<div class="modal-footer">
					{input submit, class => 'modal-action modal-close waves-effect waves-green btn-flat'}
				</div>
			{/form}
		</div>
	</div>
{/if}

<div class="white-text">
	{md $content->text}
</div>