{if $contacts->count()}
	<ul class="collection">
		{foreach $contacts as $contact}
			<li class="collection-item">
				<div class="title">{$contact->name}</div>
				<div class="row">
					<div class="col s10 m8">
						<dl>
							{if $contact->email}
								<dt class="title">Email</dt>
								<dd><a href="mailto:{$contact->email}">{$contact->email}</a></dd>
							{/if}
							{if $contact->telephone}
								<dt class="title">Telefon</dt>
								<dd><a href="tel:{$contact->telephone}">{$contact->telephone}</a></dd>
							{/if}
							{if $contact->facebook}
								<dt class="title">Facebook</dt>
								<dd><a href="{$contact->facebook}">{$contact->facebook}</a></dd>
							{/if}
							{if $contact->url}
								<dt class="title">Stránky</dt>
								<dd><a href="{$contact->url}">{$contact->url}</a></dd>
							{/if}
						</dl>
					</div>
					<div class="col s2 m4">
						{if $authorizator->isAllowed($user, $depo, 'editContact') || $authorizator->isAllowed($user, $depo, 'deleteContact')}
							<div class="secondary-content">
								{if $authorizator->isAllowed($user, $depo, 'editContact')}
									<a href="{plink ':Depo:Contact:edit' $depo->id, $contact->id}"><i class="material-icons orange-text">settings</i></a>
								{/if}

								{if $authorizator->isAllowed($user, $depo, 'deleteContact')}
									<a n:href="deleteContact! $contact->id"><i class="material-icons red-text">delete</i></a>
								{/if}
							</div>
						{/if}
					</div>
				</div>
			</li>
		{/foreach}
	</ul>
{/if}

{if $authorizator->isAllowed($user, $depo, 'addContact')}
	<a class="btn" href="{plink ':Depo:Contact:add' $depo->id}">Přidat</a>
{/if}
