{block content}
	<h1 n:block="title">Můj účet</h1>

	<div class="row">
		<div class="col s6">
			<h2>Údaje</h2>
			<dl>
				<dt>Email</dt>
				<dd>{$user->getEntity()->email}</dd>

				<dt>Registrován</dt>
				<dd>{$user->getEntity()->createdAt|date:'j.n.Y'}</dd>

				<dt>Role</dt>
				{foreach $user->getEntity()->role as $role}
					<dd>{$role}</dd>
				{/foreach}
			</dl>
		</div>
		<div class="col s6">
			<h2>Kontakt</h2>
			{control contactList}
		</div>
	</div>
	{if $user->getEntity()->userDepos}
		<div class="row">
			<div class="col s12">
				<h2>Depozita</h2>
				<table>
					<thead>
					<tr>
						<th data-field="name">Název</th>
						<th data-field="relation">Vztah</th>
					</tr>
					</thead>

					<tbody>
					{foreach $user->getEntity()->userDepos as $udps}
						<tr>
							<td><a n:href=":Depo:Default:default $udps->depo->id">{$udps->depo->name}</td>
							<td>{$udps->relation}</td>
						</tr>
					{/foreach}
					</tbody>
				</table>

			</div>
		</div>
	{/if}


{/block}