{snippet animalImages}
	<div class="row">
		{if $images->count()}
			{foreach $images as $image}
				<div class="col" style="position: relative; height: 150px; overflow: hidden">
					<a data-lightbox="pictures"
					   data-title="Obrázek zvířete {$animal->name} | {$image->name|truncate:20}"
					   href="{$image|fpreview}">
						<img style="width: auto; height: 100%" src="{$image|fpreview}"
							 alt="Golden Gate Bridge with San Francisco in distance">
					</a>
					{if $authorizator->isAllowed($user, $animal, 'edit')}
						<a style="position: absolute; top: 0; right: 10px; padding: 10px"
						   class="ajax" n:href="delete! $image->id"><i class="material-icons red-text">delete</i></a>
						<a style="position: absolute; bottom: 0; right: 10px; padding: 10px" n:href="defaultImage! $image->id">
							<i class="material-icons {if $animal->profileImage !== null && $animal->profileImage->id === $image->id }green-text{else}grey-text{/if}">check_circle</i>
						</a>
					{/if}
				</div>
			{/foreach}
		{else}
			<div class="card-panel blue">
				<span class="white-text">{$animal->name} zatím nemá žádné fotky v galerii</span>
			</div>
		{/if}
	</div>
{/snippet}