{block content}
	<div class="row" style="min-height: calc(100vh - 64px)">
		<div class="col s12 m8">
			<h2>Nová zvířata</h2>
			{control animalTeaser}
		</div>
		<div class="col s12 m4">
			<h2>Aktuality</h2>
			<div>
				<ul>
					<li>
						<a href="https://www.facebook.com/kocicinadeje" target="_blank">
							Link s proklikem na aktualitu na fb?
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/kocicinadeje" target="_blank">
							Link s proklikem na aktualitu na fb?
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/kocicinadeje" target="_blank">
							Link s proklikem na aktualitu na fb?
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{/block}
