<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	{block css}
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="/assets/materialize-css/css/materialize.min.css" rel="stylesheet">
		<link href="/assets/lightbox/css/lightbox.min.css" rel="stylesheet">
		<link href="/assets/css/kn.css" rel="stylesheet">

		<link href="/assets/blog/SimpleMDE/simplemde.min.css" rel="stylesheet">
		<link href="/assets/blog/blogModule.css" rel="stylesheet">
	{/block}

	<title>{ifset title}{include title|stripHtml} | {/ifset}Kočičí naděje</title>
</head>

<body>

<div>
	<nav>
		<div class="nav-wrapper orange">
			<a href="/" class="brand-logo" style="
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				height: 100%;
			">
				{*<div style="
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 10px;
				margin-right: 10px;
				">
					<img src="//{$domain}/assets/images/head_white.png" style="height: 50px"/>
				</div>*}
				<div style="margin-left: 15px">
					<i class="material-icons">home</i>
				</div>
				<div>
					<span class="brand-name">Kočičí naděje</span>
				</div>
			</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				{if $authorizator->isAllowed($user, 'animal', 'add')}
					<li>
						<a href='#'
						   class="dropdown"
						   data-activates='dropdownAnimal'
						   data-beloworigin="true"
						>
							Zvířata
						</a>
						<ul id='dropdownAnimal' class='dropdown-content'>
							<li><a n:href=":Animal:Default:list"><i class="material-icons left">list</i>Seznam</a></li>
							<li><a n:href=":Animal:Default:add"><i class="material-icons left">add</i>Přidat</a></li>
						</ul>
					</li>
				{else}
					<li><a n:href=":Animal:Default:list">Zvířata</a></li>
				{/if}

				{if $authorizator->isAllowed($user, 'animal', 'add')}
					<li>
						<a href='#'
						   class="dropdown"
						   data-activates='dropdownDepo'
						   data-beloworigin="true"
						>
							Depozita
						</a>
						<ul id='dropdownDepo' class='dropdown-content'>
							<li><a n:href=":Depo:Default:list"><i class="material-icons left">list</i>Seznam</a></li>
							<li><a n:href=":Depo:Default:add"><i class="material-icons left">add</i>Přidat</a></li>
						</ul>
					</li>
				{else}
					<li><a n:href=":Depo:Default:list">Depozita</a></li>
				{/if}

				{*<li><a n:href=":Article:Default:roster">Články</a></li>*}
				{if $user->isInRole('admin')}
					<li><a n:href=":Admin:Dashboard:default">Dashboard</a></li>
				{/if}
				<li>
					{if $user->isLoggedIn()}
						<a href='#' class="dropdown" data-activates='dropdown1'><i
									class="material-icons">account_circle</i></a>
						<ul id='dropdown1' class='dropdown-content'>
							<li><a n:href=":Account:Default:default">Můj účet</a></li>
							<li><a n:href=":Common:Sign:out">Odhlásit</a></li>
						</ul>
					{else}
						<a href='#' class="dropdown" data-activates='dropdown1'><i
									class="material-icons">account_circle</i></a>
						<ul id='dropdown1' class='dropdown-content'>
							<li><a n:href=":Common:Sign:in">Přihlášení</a></li>
							<li><a n:href=":Common:Register:default">Registrace</a></li>
						</ul>
					{/if}
				</li>

			</ul>
			<ul class="side-nav" id="mobile-demo">
				{if $authorizator->isAllowed($user, 'animal', 'add')}
					<li><a n:href=":Animal:Default:list">Zvířata</a>
						<ul>
							<li><a n:href=":Animal:Default:list"><i class="material-icons left">list</i>Seznam</a></li>
							<li><a n:href=":Animal:Default:add"><i class="material-icons left">add</i>Přidat</a></li>
						</ul>
					</li>
				{else}
					<li><a n:href=":Animal:Default:list">Zvířata</a></li>
				{/if}

				{if $authorizator->isAllowed($user, 'depo', 'add')}
					<li><a n:href=":Animal:Default:list">Depozita</a>
						<ul>
							<li><a n:href=":Depo:Default:list"><i class="material-icons left">list</i>Seznam</a></li>
							<li><a n:href=":Depo:Default:add"><i class="material-icons left">add</i>Přidat</a></li>
						</ul>
					</li>
				{else}
					<li><a n:href=":Depo:Default:list">Depozita</a></li>
				{/if}

				{*<li><a n:href=":Article:Default:roster">Články</a></li>*}
				{if $user->isInRole('admin')}
					<li><a n:href=":Admin:Dashboard:default">Dashboard</a></li>
				{/if}
				{if $user->isLoggedIn()}
					<li>
						<a n:href=":Account:Default:default"><i class="material-icons">account_circle</i>Můj účet</a>
					</li>
					<li>
						<a n:href=":Common:Sign:out"><i class="material-icons">exit_to_app</i>Odhlásit se</a>
					</li>
				{else}
					<li>
						<a n:href=":Common:Sign:in"><i class="material-icons">account_circle</i>Přihlášení</a>
					</li>
					<li>
						<a n:href=":Common:Register:default"><i class="material-icons">fast_forward</i>Registrace</a>
					</li>
				{/if}
			</ul>
		</div>
	</nav>

	<div class="container">
		{include content}
	</div>

	<footer class="page-footer orange">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Company Bio</h5>
					<p class="grey-text text-lighten-4">We are a team of college students working on this project like
						it's our full time job. Any amount would help support and continue development on this project
						and is greatly appreciated.</p>


				</div>
				<div class="col l3 s12">
					{control staticContent-footer_1}
				</div>
				<div class="col l3 s12">
					{control staticContent-footer_2}
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				<div
					style="
						display: -webkit-box;
						display: -moz-box;
						display: -ms-flexbox;
						display: -webkit-flex;
						display: flex;
						align-items: center;
						justify-content: flex-start;
					"
				>
					<div>
						Made by <a class="orange-text text-lighten-3" href="https://gitlab.com/mrceperka">mrceperka</a>
					</div>
					<div style="margin-left: 5px">
						with
						<a href="http://materializecss.com" target="_blank"><img style="height: 20px; margin-bottom: -5px" src="//{$domain}/assets/images/build_with/materialize.svg"/></a>
						<a href="https://gitlab.com" target="_blank"><img style="height: 20px; margin-bottom: -5px" src="//{$domain}/assets/images/build_with/gitlab.png"/></a>
						<a href="https://docker.com" target="_blank"><img style="height: 30px; margin-bottom: -10px" src="//{$domain}/assets/images/build_with/docker.png"/></a>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>
{block scripts}
	<script src="//{$domain}/assets/jquery/jquery.min.js"></script>
	<script src="//{$domain}/assets/materialize-css/js/materialize.min.js"></script>
	<script src="//{$domain}/assets/lightbox/js/lightbox.min.js"></script>
	<script src="//{$domain}/assets/netteForms.min.js"></script>
	<script src="//{$domain}/assets/nette.ajax.js/nette.ajax.js"></script>
	<script src="//{$domain}/assets/js/kn.js"></script>
	<script>
		{foreach $flashes as $flash}
		Materialize.toast({$flash->message}, 4000, {$flash->type});
		{/foreach}
	</script>
	{block packageScripts}{/block}
{/block}
</body>
</html>
