{if $action == 'add'}
	{var $formName = 'addAnimalTypeForm'}
{elseif $action =='edit'}
	{var $formName = 'editAnimalTypeForm'}
{/if}

{form $formName}
	<div class="row">
		<div class="input-field col s12">
			{input name}
			{label name/}
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			{input popularity}
			{label popularity/}
		</div>
	</div>

	<div class="row">
		{input submit, class=>'btn right'}
	</div>
{/form}