{form filter}
	{control $form->getCommonErrorsControl()}
	<div class="row">
		<div class="input-field col s12">
			{input name, autofocus => true}
			{label name}{$form[name]->caption}{/label}
		</div>
		<div n:ifcontent class="row">
			<div n:ifcontent class="col s12 red-text light">
				{inputError name}
			</div>
		</div>

		{*<div class="input-field col s4">*}
			{*{input age}*}
			{*{label age}{$form[age]->caption}{/label}*}
			{*<div n:ifcontent class="row">*}
				{*<div n:ifcontent class="col s12 red-text light">*}
					{*{inputError age}*}
				{*</div>*}
			{*</div>*}
		{*</div>*}
	</div>

	<div class="row">
		<div class="input-field col m6 s12">
			<select name="{$form[gender]->getName()}">
				{if $form[gender]->getPrompt()}
					<option value="" disabled selected>{$form[gender]->getPrompt()}</option>
				{/if}
				{foreach $form[gender]->items as $key => $value}
					<option value="{$key}" {if $key == $form['gender']->value}selected{/if}>{$value}</option>
				{/foreach}
			</select>
			<label>{$form[gender]->caption}</label>
			<div n:ifcontent class="row">
				<div n:ifcontent class="col s12 red-text light">
					{inputError gender}
				</div>
			</div>
		</div>

		<div class="input-field col m6 s12">
			<select name="{$form[state]->getName()}">
				{if $form[state]->getPrompt()}
					<option value="" disabled selected>{$form[state]->getPrompt()}</option>
				{/if}
				{foreach $form[state]->items as $key => $value}
					<option value="{$key}" {if $key == $form['state']->value}selected{/if}>{$value}</option>
				{/foreach}
			</select>
			<label>{$form[state]->caption}</label>

			<div n:ifcontent class="row">
				<div n:ifcontent class="col s12 red-text light">
					{inputError state}
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="input-field col m6 s12">
			<select multiple name="{$form[types]->getName()}[]">
				<option value="" disabled selected>Vyberte druhy</option>
				{foreach $form[types]->items as $key => $value}
					<option value="{$key}" {if in_array($key, $form['types']->value)}selected{/if}>{$value}</option>
				{/foreach}
			</select>
			<label>{$form[types]->caption}</label>
		</div>

		<div class="input-field col m6 s12">
			<input id="id-cstr" type="checkbox" name="{$form[castrated]->getName()}"
				   {if $form[castrated]->value}checked{/if}/>
			<label for="id-cstr">{$form[castrated]->caption}</label>
			<div n:ifcontent class="row">
				<div n:ifcontent class="col s12 red-text light">
					{inputError castrated}
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		{if $form->getComponent('depo', false)}
			<div class="input-field col m6 s12">
				<select name="{$form[depo]->getName()}">
					{if $form[depo]->getPrompt()}
						<option value="dc"
								{if empty($form['depo']->value)}selected{/if}>{$form[depo]->getPrompt()}</option>
					{/if}
					{foreach $form[depo]->items as $key => $value}
						<option value="{$key}" {if $key == $form['depo']->value}selected{/if}>{$value}</option>
					{/foreach}
				</select>
				<label>{$form[depo]->caption}</label>
			</div>
		{/if}
		<div class="input-field col m6 s12">
			<select multiple name="{$form[handicaps]->getName()}[]">
				<option value="" disabled selected>Vyberte handicap</option>
				{foreach $form[handicaps]->items as $key => $value}
					<option value="{$key}" {if in_array($key, $form['handicaps']->value)}selected{/if}>{$value}</option>
				{/foreach}
			</select>
			<label>{$form[handicaps]->caption}</label>
		</div>
	</div>


	<div class="row">
		<div class="input-field col s6">
			{input submit, class=>'btn left'}
		</div>
		<div class="input-field col s6">
			{input reset, class=>'btn red right'}
		</div>
	</div>
{/form}