{block content}

	<div class="row">
		<h1 n:block="title">Dashboard</h1>

		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h2><a n:href=":Depo:Default:list">Depozita</a></h2>
					<a n:href=":Depo:Default:add" class="btn green">
						<i class="material-icons left">add</i>
						Přidat
					</a>
				</div>
			</div>
		</div>


		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h2><a n:href=":Animal:Default:list">Zvířata</a></h2>
					<a n:href=":Animal:Default:add" class="btn green">
						<i class="material-icons left">add</i>
						Přidat
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h2><a n:href=":AnimalType:Default:list">Druhy zvířat</a></h2>
					<a n:href=":AnimalType:Default:add" class="btn green">
						<i class="material-icons left">add</i>
						Přidat
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h2><a n:href=":Handicap:Default:list">Handicapy</a></h2>
					<a n:href=":Handicap:Default:add" class="btn green">
						<i class="material-icons left">add</i>
						Přidat
					</a>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<h2><a n:href=":User:Default:list">Uživatelé</a></h2>
				</div>
			</div>
		</div>

		{*<div class="col s12 m6">
			<h2><a n:href=":AdminPackage:Blog:Dashboard:default">Články</a></h2>
			<a n:href=":AdminPackage:Blog:Article:add" class="btn green">
				<i class="material-icons left">add</i>
				Přidat
			</a>
		</div>*}

	</div>
{/block}