<div class="row">
	{if $stories->count()}
		{foreach $stories as $story}
			<div id="info{$story->id}">
				{if $authorizator->isAllowed($user, $animal, 'edit')}
					<a class="modal-trigger" href="#edit{$story->id}"><i class="material-icons orange-text">edit</i></a>
					<a n:href="delete! $story->id"><i class="material-icons red-text">delete</i></a>
				{/if}

				{$story->text}

				{if $authorizator->isAllowed($user, $animal, 'edit')}
					<div id="edit{$story->id}" class="modal">
						{form edit-$story->id}
							<div class="modal-content">
						<span style="
							font-size: 2.92rem;
							line-height: 110%;
							margin: 1.46rem 0 1.168rem 0;
						">Upravit informaci</span>
								<div class="input-field col s8">
									{input text, id => 'textarea_info' . $story->id}
									<label for="textarea_info{$story->id}">{$form['text']->caption}</label>
								</div>
							</div>
							<div class="modal-footer">
								{input submit, class => 'modal-action modal-close waves-effect waves-green btn-flat'}
							</div>
						{/form}
					</div>
				{/if}
			</div>
		{/foreach}
	{else}
		<div class="card-panel blue">
			<span class="white-text">{$animal->name} zatím nemá žádné doplňující informace</span>
		</div>
	{/if}
</div>

{if $authorizator->isAllowed($user, $animal, 'edit')}
	{form addStoryForm}
		<div class="input-field col s12">
			{input text, id => 'textarea_info'}
			<label for="textarea_info">{$form['text']->caption}</label>
		</div>
		{input submit, class => 'btn right'}
	{/form}
{/if}