{if $contacts->count()}
	<ul class="collection">
		{foreach $contacts as $contact}
			<li class="collection-item">
				<div class="title">{$contact->name}</div>
				<div class="row">
					<div class="col s10 m8">
						<dl>
							{if $contact->email}
								<dt class="title">Email</dt>
								<dd><a href="mailto:{$contact->email}">{$contact->email}</a></dd>
							{/if}
							{if $contact->telephone}
								<dt class="title">Telefon</dt>
								<dd><a href="tel:{$contact->telephone}">{$contact->telephone}</a></dd>
							{/if}
							{if $contact->facebook}
								<dt class="title">Facebook</dt>
								<dd><a href="{$contact->facebook}">{$contact->facebook}</a></dd>
							{/if}
							{if $contact->url}
								<dt class="title">Stránky</dt>
								<dd><a href="{$contact->url}">{$contact->url}</a></dd>
							{/if}
						</dl>
					</div>
					<div class="col s2 m4">
						<div class="secondary-content">
							<a href="{plink ':Account:Contact:edit' $contact->id}"><i class="material-icons orange-text">settings</i></a>
							<a n:href="deleteContact! $contact->id"><i class="material-icons red-text">delete</i></a>
						</div>
					</div>
				</div>
			</li>
		{/foreach}
	</ul>
{/if}

<a href="{plink ':Account:Contact:add'}" class="btn">Přidat</a>