<tr>
	<td>{$u->email}</td>
	<td>
		{form roleForm}
			<div class="row">
				<div class="input-field col s6">
					{input $form[roles]}
					{label $form[roles]}
				</div>
				<div class="input-field col s6" style="display:none">
					{input submit, class=>'btn'}
				</div>
			</div>
		{/form}
	</td>
	<td>
		{if $u->deletedAt === null}
			<a n:href="deactivate!"><i class="material-icons red-text">delete</i></a>
		{else}
			<a n:href="activate!"><i class="material-icons green-text">autorenew</i></a>
		{/if}
	</td>
</tr>