{form depoForm}
	{control $form->getCommonErrorsControl()}
	<div class="row">
		<div class="input-field col s12">
			{input name}
			{label name}{$form[name]->caption}{/label}
		</div>
		<div n:ifcontent class="col s12 red-text light">
			{inputError name}
		</div>
	</div>

	<div class="row">
		<div class="input-field col s12">
			{input capacity}
			{label capacity}{$form[capacity]->caption}{/label}
		</div>
		<div n:ifcontent class="col s12 red-text light">
			{inputError capacity}
		</div>
	</div>

	<div class="row">
		{input submit, class=>'btn right'}
	</div>
{/form}