<table class="responsive-table highlight">
	<thead>
	<tr>
		<th data-field="name">Název</th>
		<th data-field="capacity">Kapacita</th>
		<th data-field="animal-count">Vlastníci</th>
		<th data-field="address">Adresa</th>
	</tr>
	</thead>

	<tbody>
	{foreach $depos as $depo}
		<tr>
			<td>
				<a href="{plink :Depo:Default:default $depo->id}">{$depo->name}</a>
			</td>
			<td class="{if $depo->animals->count() == $depo->capacity}red-text{else}green-text{/if}">
				{$depo->animals->count()}/{$depo->capacity}
			</td>
			<td>
				{foreach $depo->getOwners() as $owner}
					{$owner->email}
				{/foreach}
			</td>
			<td>
				{if $depo->address}
					<address>
						<div>{$depo->name}</div>
						<div>{$depo->address->street}</div>
						<div>{$depo->address->city}</div>
						<div>{$depo->address->zip}, {$depo->address->country}</div>
					</address>
				{else}
					{if $user->isLoggedIn() && $depo->hasOwner($user->getEntity())}
						<a href="{plink :Depo:Default:default $depo->id}" class="yellow-text"
						   title="Adresa nevyplněna, nastavit"><i class="material-icons">warning</i></a>
					{else}
						<span class="yellow-text" title="Adresa nevyplněna"><i class="material-icons">warning</i></span>
					{/if}
				{/if}
			</td>
		</tr>
	{/foreach}
	</tbody>
</table>