<div class="row">
	{if $users->count()}
		<table class="responsive-table highlight">
			<thead>
			<tr>
				<th data-field="name">Název</th>
				<th data-field="role">Role</th>
				<th data-field="action">Akce</th>
			</tr>
			</thead>
			<tbody>
				{foreach $users as $u}
					{control rosterItem-$u->id}
				{/foreach}
			</tbody>
		</table>
	{else}
		<div class="col s12">
			<div class="card-panel blue">
				<span class="white-text">Žádní uživatelé nebyli nalezeni</span>
			</div>
		</div>
	{/if}
</div>