{if $authorizator->isAllowed($user, $depo, 'viewMembers')}
	<div class="row">
		<div class="col s12">
			<ul class="collection">
				{foreach $depo->userDepos as $udp}
					{control rosterItem-$udp->id}
				{/foreach}

			</ul>
		</div>
	</div>
{/if}