{form animalForm}
  <div class="row">
    <div class="input-field col s8">
      {input name}
      {label name/}
      <div n:ifcontent class="row">
        <div n:ifcontent class="col s12 red-text light">
          {inputError name}
        </div>
      </div>
    </div>

    <div class="input-field col s4">
      {input age}
      {label age/}
      <div n:ifcontent class="row">
        <div n:ifcontent class="col s12 red-text light">
          {inputError age}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      {input gender}
      {label gender/}
      <div n:ifcontent class="row">
        <div n:ifcontent class="col s12 red-text light">
          {inputError gender}
        </div>
      </div>
    </div>

    <div class="input-field col s6">
      {input state}
      {label state/}
      <div n:ifcontent class="row">
        <div n:ifcontent class="col s12 red-text light">
          {inputError state}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      {input type}
      {label type/}
      <div n:ifcontent class="row">
        <div n:ifcontent class="col s12 red-text light">
          {inputError type}
        </div>
      </div>
    </div>

    <div class="input-field col s6">
      <input id="id-cstr" type="checkbox" name="{$form[castrated]->getName()}"
             {if $form[castrated]->value}checked{/if}/>
      <label for="id-cstr">{$form[castrated]->caption}</label>
      <div n:ifcontent class="row">
        <div n:ifcontent class="col s12 red-text light">
          {inputError castrated}
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s6">
      {input depo}
      {label depo/}
      <div n:ifcontent class="row">
        <div n:ifcontent class="col s12 red-text light">
          {inputError depo}
        </div>
      </div>
    </div>

    <div class="input-field col s6">
      <select multiple name="{$form[handicaps]->getName()}[]">
        <option value="" disabled selected>Vyberte handicap (nepovinné)</option>
        {foreach $form[handicaps]->items as $key => $value}
          <option value="{$key}" {if in_array($key, $form['handicaps']->value)}selected{/if}>{$value}</option>
        {/foreach}
      </select>
      {label handicaps/}
    </div>
  </div>


  <div class="row">
    <div class="input-field col s12">
      <div class="file-field input-field">
        <div class="btn">
          <i class="material-icons">add_to_photos</i>
          {input images}
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Nahrajte jeden nebo více obrázků">
        </div>

        <div n:ifcontent class="col s12 red-text light">
          {inputError images}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      {input info}
      {label info/}
    </div>
  </div>


  <div class="row">
    <div class="input-field col s12">
      {input submit, class=>'btn right'}
    </div>
  </div>
{/form}
{if $action == 'edit'}
  <h2>Obrázky</h2>

  <div class="row">
    {control animalGallery}
  </div>
{/if}
