{if $authorizator->isAllowed($user, $depo, 'editMember')}
	{form memberForm}
		<div class="row">
			<div class="input-field col s6">
				{input relation}
				{label relation}
			</div>
			<div class="input-field col s6">
				{input submit, class=>'btn'}
			</div>
		</div>
	{/form}
{/if}