{if $authorizator->isAllowed($user, $depo, 'addMember')}
	{if $users->count()}
	{form memberForm}
		<div class="row">
			<div class="input-field col s6">
				<select multiple name="{$form[users]->getName()}[]">
					{foreach $form[users]->items as $key => $value}
						<option value="{$key}">{$value}</option>
					{/foreach}
				</select>
				<label>{$form[users]->caption}</label>
			</div>
			<div class="input-field col s6">
				{input submit, class=>'btn'}
			</div>
		</div>
	{/form}
	{else}
		<div class="col s12">
			<div class="card-panel blue">
			  <span class="white-text">
				  Žádné další uživatele již nelze přidat jako členy depozita
			  </span>
			</div>
		</div>
	{/if}
{/if}